*{
    color:red;
    background-color:bisque;
    }
h1{
    text-align:center;
    font-weight:bold;
    text-decoration: underline;
    background-color: #f5f5f5
  }
.second{
    font-family: Brush Script MT, cursive;
    line-height: 1.3;
    font-size:20px;
    font-style:oblique;
    }
#subheading{
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: underline;
    text-decoration-thickness: 5px;
    text-decoration-color:cadetblue;
    
    }
div p:nth-child(2){
    width: 300px;
    padding: 20px;
    margin: 20px auto;
    background-color: white;
    border: 2px solid #ccc;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 6px 10px rgba(0,0,0,0.15);
    background-image:
    }
div p:nth-child(3){
    text-align: center;
    word-spacing:10px;
    text-shadow: darkolivegreen 10px 10px 2px ;
    
    }